__pycache__

*.ipynb
*.zip
*.txt
*.svg
*.log
*.json

.vscode
.env
.pytest_cache
.coverage
.terraform
.mypy_cache

z_notes
coverage_report
test_data
tests/ocr_translator
train-data
train-data-orig
data_mongo
dist
gpt_promptify
ocr_pdf
translator
utube
email
utils
entry_dev.py
app.py
language-codes
chan_images
