# httpx==0.22.0
# asgi-lifespan==1.0.1
# pytest-asyncio==0.18.1
# pytest-cov==3.0.0
# typer
# invoke==1.7.1
# rich==12.5.1
# redis-om

# poetry
httpx
asgi-lifespan
pytest-asyncio
pytest-cov
typer
invoke



